{% extends 'navbar/nav.html' %}

{% block title %}Blog_detail{% endblock  %}

{% block content %}
<br>
<div class="container">
    <div class="row">
      <div class="col-md-4 p-3 mx-5" >
        {% for i in comment %}
          <div class="comment card mt-4 mx-4">
            <div class="card ">
            {{ i.blog.content }}
            </div>
            <p class="mt-2" style="background-color: rgb(132, 193, 210);border-bottom-style: outset;margin-left: 50%;">{{ i.content }}</p>
            <div>
            <ul>
              <li>by:{{ i.author }}</li>
              <li>{{ i.created_at }}</li>
            </ul>
          </div>
        </div>
      {% empty %}
        <p>No comments yet.</p>
      {% endfor %}
    
      </div>
    </div>
    <h2>Add a Comment</h2>
    <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      
      <button type="submit">Send</button>
    </form>
    <p>back to :<a href="{% url 'blog_list' %}">blogs</a></p>
</div>
{% endblock  %}
