{% extends 'navbar/nav.html' %}

{% block title %}Blog_detail{% endblock  %}

{% block content %}
<br>
<div class="container">
    <div class="row">
      <div class="col-md-4 p-3 mx-5" >
        {% for i in comment %}
          <div class="comment card mt-4 mx-4">
            <p style="background-color: rgb(168, 168, 227);border-bottom-style: outset;border-bottom-right-radius: 1rem;">{{ i.content }}</p>
            <div>
            <ul>
              <li>by:{{ i.author }}</li>
              <li>{{ i.created_at }}</li>
            </ul>
          </div>
        </div>
      {% empty %}
        <p>No comments yet.</p>
      {% endfor %}
    
      </div>
    </div>
    <h2>Add a Comment</h2>
    <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit">Add Comment</button>
    </form>

</div>
{% endblock  %}