{% extends 'navbar/nav.html' %}

{% block title %}Blog_detail{% endblock  %}

{% block content %}
<br>
<div class="container">
    <div class="row mx-5">
      <div class="col-md-6 p-3 mx-5" >
        {% for i in comment %}
          <div class="comment card mt-4 mx-4">
            <div class="card mr-5 p-2 ml-1 mt-1" style="border-bottom-left-radius: 30%; border-top-right-radius:30%;">
            {{ i.blog.content }}
            </div>
              <p class="mt-2 p-2 mr-3 bg-info" style="border-bottom-style: outset;margin-left: 50%;border-bottom-left-radius: 25%;border-top-right-radius: 20%;">{{ i.content }}</p>
            <div>
            <ul style="list-style: none;">
              <li>by:{{ i.author }}</li>
              <li>{{ i.created_at }}</li>
            </ul>
          </div>
        </div>
      {% empty %}
        <p>No comments yet.</p>
      {% endfor %}
    
      </div>
    </div>
    <div class="row ml-5">
      <div class="col-md-6 ml-5">
        <div class="">
          <h2>Comment</h2>
        <form method="post">
          {% csrf_token %}
          {{ form.content }}
          <button type="submit" class="btn btn-dark">Send</button>
        </form>
        <p>back to :<a href="{% url 'blog_list' %}">blogs</a></p>
        </div>
      </div>
    </div>
</div>
{% endblock  %}