
#navmain{
    background-color: rgb(147, 177, 232);
}

#navbarNav ul li a{
    color: black;
}
#navbarNav ul li {
    list-style: none;
}

#navbarNav ul li a:hover{
    background-color: white;
    border-radius: 1rem;
}