{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}

<div class="container">
    <div class="d-flex row justify-content-center align-items-center py-md-5 py-3">
        <div class="col-12">
            <h4> make payment </h4>
                <script src="https://js.paystack.co/v1/inline.js">
                </script>

                <button id="django-paystack-button" onclick="payWithPayStack()">Make Payment</button>
        </div>
    </div>
</div>
<script>
    function payWithPayStack(){
        let currency = "fcfa";
        let plan = "";
        let ref = '{{ payment.ref }}'
        let obj = {
            key:"{{ paystack public key }}",
            email: "{{ payment.email }}",
            amount:"{{ payment.amount_value }}",
            ref:ref,
            callback: function(response){
                window.location.href = "{% url 'verify-payment' payment.ref %}";
            }
        }
        if(Boolean(currency)){
            obj.currency = currency.toUpperCase()
        }
        if(Boolean(plan)){
            obj.plan = plan;
        }
        var handler = PaystackPop.setup(obj);
        handler.openIframe();
    }
</script>
{% endblock %}